*.pyc
locust.wpr
locust.egg-info/**
locustio.egg-info/**
docs/_build/**
mock.*.egg
dist/**
.idea/**
*.iml
*.ipr
.vagrant
build/
.coverage
.tox/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
